# Heroes of Pymoli data analysis hw- eskelson

In [70]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
p_data = pd.read_csv(file_to_load)

In [71]:
p_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [72]:
p_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

# Player count
-Display the total number of players

In [73]:
#total number of players
uniqueplayers = p_data['SN'].nunique()
total_players_count = pd.DataFrame({"Total Players": [uniqueplayers]}, columns= ["Total Players"])
print("Player count")
total_players_count

Player count

   Total Players
0            576

# Purchase Analysis (total)
-Run basic calculations to obtain number of unique items, average price, etc.
-Create a summary data frame to hold the results
-Optional: give the displayed data cleaner formatting
-Display the summary data frame

In [74]:

uniqueitems = p_data['Item ID'].nunique()
avgprice = (p_data['Price'].sum()/p_data['Price'].count()).round(2)
totalpurchases = p_data['Price'].count()
totalrevenue = p_data["Price"].sum()

total_analysis_total = pd.DataFrame({"Number of Unique Items": [uniqueitems], 
                                      "Average Purchase Price": [avgprice],
                                      "Number of Purchases": [totalpurchases],
                                      "Total Revenue": [totalrevenue]}, columns= ["Number of Unique Items", "Average Purchase Price",
                                      "Number of Purchases", "Total Revenue"])
print("Purchase Analysis (total)")
total_analysis_total.style.format({"Average Purchase Price": "${:.2f}", "Total Revenue": "${:.2f}"})

Purchase Analysis (total)

# Gender Demographics
-Percentage and Count of Male Players
-Percentage and Count of Female Players
-Percentage and Count of Other / Non-Disclosed

In [75]:
full_count = p_data["SN"].nunique()

#words_c means count
male_c = p_data[p_data["Gender"] == "Male"]["SN"].nunique()
female_c = p_data[p_data["Gender"] == "Female"]["SN"].nunique()
other_c = full_count - male_c - female_c

# pct short for percentange
malepct = ((male_c/full_count)*100)
femalepct = ((female_c/full_count)*100)
otherpct = ((other_c/full_count)*100)

gender_dgh = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], 
                           "Total Count": [male_c, female_c, other_c],
                           "Percentage of Players": [malepct, femalepct, otherpct],}, columns = 
                                        ["Gender", "Total Count","Percentage of Players"])
print("Gender Demographics")                                        
#don't know how to get it to print with out the 'gender' colunm header so it doesn't look exactly like the example
gender_dgh.style.format({"Percentage of Players": "{:.2f}%"})

Gender Demographics

# Purchasing Analysis (Gender)
-Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
-Create a summary data frame to hold the results
-Display the summary data frame

In [76]:
# need to study up on groupby more. could only figure out how to get them to work half the time. 
gender_c_df = p_data.groupby("Gender")["SN"].nunique()
gender_c_df.head()
gender_buy_df = p_data.groupby("Gender")["Item Name"]
gender_buy_df = gender_buy_df.count()
gender_avg_df = p_data.groupby("Gender")["Price"].mean()
gender_avg_df.round(2)
gender_total_df = p_data.groupby("Gender")["Price"].sum()
gender_total_df
norm_gender_total_df = gender_total_df/gender_c_df
norm_gender_total_df.round(2)


gender_analysis_df = pd.DataFrame({"Purchase Count":gender_buy_df, 
                                   "Average Purchase Price":gender_avg_df,
                                   "Total Purchase Value":gender_total_df,
                                   "Average Total Purchase per Person":norm_gender_total_df})
gender_analysis_df
print("Purchasing Analysis (Gender)")
gender_analysis_df.style.format({'Average Purchase Price': '${:.2f}', 'Total Purchase Value': '${:.2f}', 'Average Total Purchase per Person': '${:.2f}'})

Purchasing Analysis (Gender)

# Age Demographics
-Establish bins for ages
-Categorize the existing players using the age bins. Hint: use pd.cut()
-Calculate the numbers and percentages by age group
-Create a summary data frame to hold the results
-Optional: round the percentage column to two decimal points
-Display Age Demographics Table

In [77]:
tenyears = p_data[p_data["Age"] <10]
preteens = p_data[(p_data["Age"] >=10) & (p_data["Age"] <=14)]
teens = p_data[(p_data["Age"] >=15) & (p_data["Age"] <=19)]
twenty = p_data[(p_data["Age"] >=20) & (p_data["Age"] <=24)]
twentyup = p_data[(p_data["Age"] >=25) & (p_data["Age"] <=29)]
thirty = p_data[(p_data["Age"] >=30) & (p_data["Age"] <=34)]
thirtyup = p_data[(p_data["Age"] >=35) & (p_data["Age"] <=39)]
forty = p_data[(p_data["Age"] >=40)]

age_dgh_p_data = pd.DataFrame({"Age": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
                                "Total Count": [tenyears["SN"].nunique(), preteens["SN"].nunique(), teens["SN"].nunique(), twenty["SN"].nunique(), twentyup["SN"].nunique(), thirty["SN"].nunique(), thirtyup["SN"].nunique(), forty["SN"].nunique()],
                               "Percentage of Players": [(tenyears["SN"].nunique()/fullcount)*100, (preteens["SN"].nunique()/fullcount)*100, (teens["SN"].nunique()/fullcount)*100, (twenty["SN"].nunique()/fullcount)*100, (twenty["SN"].nunique()/fullcount)*100, (thirty["SN"].nunique()/fullcount)*100, (thirtyup["SN"].nunique()/fullcount)*100, (forty["SN"].nunique()/fullcount)*100]
                               })
print("Age Demographics")
#Why do we put in line age_dgh_final = age_dgh_p_data.set_index("Age") when it does nothing to the output?


age_dgh_final.style.format({"Percentage of Players": "{:.2f}%"})

Age Demographics

# Purchasing Analysis (Age)
-Bin the purchase_data data frame by age
-Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
-Create a summary data frame to hold the results
-Optional: give the displayed data cleaner formatting
-Display the summary data frame

In [78]:
age_purchasing_df = pd.DataFrame({"Age": [ "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+", "<10"],
                              "Purchase Count": [preteens["Price"].count(), teens["Price"].count(), twenty["Price"].count(), twentyup["Price"].count(), thirty["Price"].count(), thirtyup["Price"].count(), forty["Price"].count(), tenyears["Price"].count()],
                              "Average Purchase Price": [preteens["Price"].mean(), teens["Price"].mean(), twenty["Price"].mean(), twentyup["Price"].mean(), thirty["Price"].mean(), thirtyup["Price"].mean(), forty["Price"].mean(), tenyears["Price"].mean()], 
                              "Total Purchase Value": [ preteens["Price"].sum(), teens["Price"].sum(), twenty["Price"].sum(), twentyup["Price"].sum(), thirty["Price"].sum(), thirtyup["Price"].sum(), forty["Price"].sum(), tenyears["Price"].sum()],
                              "Average Purchase Total per Person": [preteens["Price"].sum()/preteens['SN'].nunique(), teens["Price"].sum()/teens['SN'].nunique(), 
                                                    twenty["Price"].sum()/twenty['SN'].nunique(), twentyup["Price"].sum()/twentyup['SN'].nunique(), 
                                                    thirty["Price"].sum()/thirty['SN'].nunique(), thirtyup["Price"].sum()/thirtyup['SN'].nunique(), 
                                                    forty["Price"].sum()/forty['SN'].nunique(), tenyears["Price"].sum()/tenyears['SN'].nunique()]}, 
                             columns = ["Age", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Average Purchase Total per Person"])

age_purchasing_chart = age_purchasing_df.set_index("Age")

age_purchasing_chart.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}", "Average Purchase Total per Person": "${:.2f}"})

# Top Spenders
-Run basic calculations to obtain the results in the table below
Create a summary data frame to hold the results
-Sort the total purchase value column in descending order
-Optional: give the displayed data cleaner formatting
-Display a preview of the summary data frame

In [79]:
pur_amt_by_SN = pd.DataFrame(p_data.groupby('SN')['Price'].sum())
num_pur_by_SN = pd.DataFrame(p_data.groupby('SN')['Price'].count())
avg_pur_by_SN = pd.DataFrame(p_data.groupby('SN')['Price'].mean())

top_5 = pd.merge(pur_amt_by_SN, num_pur_by_SN, left_index = True, right_index = True).merge(avg_pur_by_SN, left_index=True, right_index=True)
top_5.rename(columns = {'Price_x': 'Total Purchase Value', 
                        'Price_y':'Purchase Count', 
                        'Price':'Average Purchase Price'}, inplace = True)
top_5.sort_values('Total Purchase Value', ascending = False, inplace=True)
top_5 = top_5.head()
top_5.style.format({'Total Purchase Value': '${:.2f}', 'Average Purchase Price': '${:.2f}'})

# Most Popular Items
-Retrieve the Item ID, Item Name, and Item Price columns
-Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
-Create a summary data frame to hold the results
-Sort the purchase count column in descending order
-Optional: give the displayed data cleaner formatting
-Display a preview of the summary data frame

In [80]:
#merge dataframes for purchase count and total purchase value for items

merge_iditem= p_data.groupby("Item ID").sum().reset_index()
merge_nameitem = p_data.groupby("Item Name").sum().reset_index()
mergecount = p_data.groupby("Item Name").count().reset_index()

#merge confusing dataframes
merge_one = pd.merge(merge_nameitem, merge_iditem, on="Price")
merge_two = pd.merge(mergecount, merge_one, on="Item Name")
merge_two["Gender"] = (merge_two["Price_y"]/merge_two["Item ID"]).round(2)

renamed_df = merge_two.rename(columns={"Age": "Purchase Count", 
                                             "Gender": "Item Price", 
                                             "Item ID": "null", 
                                             "Price_y": "Total Purchase Value", 
                                             "Item ID_y": "Item ID"})

#ones we want
clean_df = renamed_df[["Item ID", 
                             "Item Name", 
                             "Purchase Count", 
                             "Item Price", 
                             "Total Purchase Value"]]

lister_items_df = clean_df.set_index(['Item ID', 'Item Name'])
pop_items = lister_items_df.sort_values('Purchase Count', ascending=False).head(6)
pop_items.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

# Most Profitable Items
-Sort the above table by total purchase value in descending order
-Optional: give the displayed data cleaner formatting
-Display a preview of the data frame

In [81]:

moneyticket_items = lister_items_df.sort_values('Total Purchase Value', ascending=False).head()
moneyticket_items.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

The item 'Oathbreaker, Last Hope of the Breaking Storm' is our most profitable and popular item while item 'Nirvana' and 'Fiery Glass Crusader' are still in our top five list for most popular and our top five list for most profitable.

Males far out spend females and others due to making more purcheses.